nav ul {
     margin: 0; 
     padding: 0;
     list-style-type: none;
}

nav li a{

padding: 10px;
margin: 10px; 
border: 1px solid #990000; 
width: 150px;
}

nav li a:hover {
    border: 1px solid #ffffff;
    background-image: linear-gradient( to bottom, #ADD8E6, #ffb7d5, #93E9BE);
    color: 990000;
}

nav li {
    display: inline-block;
}